/* 
#f0f4f8
#d9e2ec
#bcccdc
#9fb3c8
#829AB1
#627d9b
#486581
#334e68
#243b53
#102a43
 */

.page-header {
  background: #243b53;
}

.main-nav ul {
  background: #243b53;
  color: #d9e2ec;
}

.main-menu button {
  background: #243b53;
  color: #f0f4f8;
}

.main-menu li .show {
  background: #334e68;
  background-color: #334e68;
  padding: 0px;
}

.main-menu li .show a {
  color: #d9e2ec;
}

.show ul {
  padding: 0px;
  color: #d9e2ec;
}

.logo svg {
  fill: #f0f4f8 !important;
}

.titlebar {
  background: #102a43;
}

div .titlebar-container {
  background: #102a43;
}

.titlebar .title {
  background: #102a43;
  color: #d9e2ec;
}

.max-content-width-container {
  background: #243b53;
}

#header-language-menu {
  background: #243b53;
  color: #f0f4f8;
}

.breadcrumbs ol a {
  color: #f0f4f8;
}

li a.crumb-current-page span {
  color: #f0f4f8;
}

a.breadcrumb-chevron span.pre-text ::after {
  background: white;
}

.breadcrumbs li a.breadcrumb-chevron::after {
  border: solid #bcccdc;
  border-width: 0 2px 2px 0
}
.breadcrumbs li a.breadcrumb-previous::after {
  border: solid #bcccdc;
  border-width: 0 2px 2px 0
}

div.wiki-left-present aside.document-toc-container {
  background: #243b53;
}

aside.document-toc-container section.document-toc {
  background: #243b53;
}

section.document-toc h2 {
  color: #d9e2ec;
}
section.document-toc ul li a {
  color: #bcccdc;
}

div#sidebar-quicklinks {
  background: #243b53;
}

div.quick-links-head {
  color: #d9e2ec;
}

div.quick-links ol li a {
  color: #bcccdc;
}
